<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <h1 class="text-center">Create category</h1>
      <%= render 'form', category: @category %>
      <%= link_to 'Home', admin_root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
