<div class="w-75 p-3">
  <div class="card-header">
    <div class="row">
      <div class="col-lg-9">
        <h3 class="text-center">Categories</h3>
      </div>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Parent Category</th>
        <th>Creation time</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.parent_category&.name %></td>
          <td><%= category.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
